*{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.card{
  background-color: yellow;
  padding: 20px 20px;
  border-radius: 12px;
}

.card-ctr{
  background-color: goldenrod;
  width: 55%;
  padding: 8px 10px;
  margin-top: 20px;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 8px;
}

.card-ctr h3{
  color: white;
}

.submitBtn{
  background-color: white;
  color: black;
  border: none;
  padding: 10px 6px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

input{
  width: 30%;
  padding: 10px 4px;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 12px;
}

.nav p {
  background-color: blueviolet;
  color: black;
  border: none;
  padding: 10px 6px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: default;
}

.logo{
  color: blueviolet;
  font-size: 30px;
}

.message{
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  max-width: 20px 0px;
  font-weight: 600;
  font-style: italic;
}

.error{
  text-align: center;
  color: blueviolet;
  font-size: 30px;
  max-width: 20px 0px;
  font-weight: 600;
  font-style: italic;
}

svg{
  cursor: pointer;
}

.intro-sec{
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: yellow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.intro-sec h3{
  text-align: center;
}

@media only screen and (max-width : 900px ) {
  .card input{
    width: 60%;
  }

  .card{
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 50px auto;
  }

  .card-ctr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    padding: 15px 30px;
  }

  .nav {
    background-color: #d9d6dc;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  input{
    width: 50%;
    padding: 10px 4px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 12px;
  }
}

@media only screen and (max-width : 600px ) {
  .card input{
    width: 50%;
  }

  .card{
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    margin: 50px auto;
  }

  .card-ctr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    padding: 15px 30px;
    width: 45%;
  }

  .nav {
    background-color: #d9d6dc;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width : 450px ) {
  .card input{
    width: 50%;
  }

  .card{
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 50px auto;
    padding: 15px 50px;
  }

  .card-ctr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 15px 30px;
    width: 50%;
  }

  .nav {
    background-color: #d9d6dc;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width : 900px ) {
  .card input{
    width: 80%;
  }

  .card{
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 50px auto;
    padding: 30px 70px;
  }

  .card-ctr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 30px 50px;
    width: 50%;
  }

  .nav {
    background-color: #d9d6dc;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}